{% extends "layoutco.html" %}
{% block content %}
<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
jQuery.ajaxSettings.traditional = true;

{% for package in packages %}
$(window).load(function ()  {
  $.getJSON($SCRIPT_ROOT + '/_getstate', {
      fic: "{{ package.shortname }}"
      }, function(data){
        var etat = data.etat;
        $("#nomlogiciel20{{ loop.index }}").parent().next().text(etat);
        $("#myTable").tablesorter();
        if (etat=="OUI"){
            $("#nomlogiciel20{{ loop.index }}").parent().next().css('background-color','rgb(52, 136, 228)').prop('title', 'Installateur présent sur le serveur.');
        };
        if (etat=="NON"){
            $("#nomlogiciel20{{ loop.index }}").parent().next().css('background-color','rgb(213, 70, 70)').prop('title', 'Installateur non présent sur le serveur.');
        };
        if (etat==""){
            $("#nomlogiciel20{{ loop.index }}").parent().next().text("// ! \\\\").css('color','#000').prop('title', 'Le lien de téléchargement est manquant. Rajoutez un lien de téléchargement <eoledl> dans le fichier XML.');
        };
      });
 
});
 {% endfor %}
{% for package in packages %}
$(document).ready(function(){
    $("input#Btn{{ package.shortname }}").click(function(){
      $.getJSON($SCRIPT_ROOT + '/_getxml', {
      xml: $("input#Btn{{ package.shortname }}").attr("name")
      }, function(data){
        var code = data.xml;
        editor.setValue(code);
        editor.gotoLine(1);
        var name =  $("input#Btn{{ package.shortname }}").prevAll('label').text();
        $("#dossier").html('{{ package.longname }}').attr('name', name);
        $('#dl').css('visibility','visible');
        $('#save').css('visibility','visible');
        $("#editeur").css('display','block');
        var editeurTopPosition = jQuery('#editeur').offset().top;
        jQuery('html, body').animate({scrollTop:editeurTopPosition}, 'slow');
      $("#radioedit").css('display','none');
      $("#radioedit2").css('display','block');
      });
    });
  });
{% endfor %}

</script>

<div class="jumbo">
    <div id="block"></div>
    <div id="lien">&#128279;</div>
    <div id="lien2">&#58541;</div>
    <div id="groupe">
    <div class="groupeicon">&#128101;</div><span class="texticon">GRP</span>
    <select size="25" id="Listegrp">
        {% for grp in grps %}
        <option value="{{ grp }}" name="{{ grp }}"> {{ grp }}</option>
        {% endfor %}
    </select>
    </div>


    <div id="supp">
        <div class="installedicon">&#128193;</div><span class="texticon">Logiciels installés</span>
        <div id="installed">
        <table id="Table2" class="tablesorter">
            <thead>
                <tr>
                    <th>Noms</th>
                </tr> 
            </thead>
            <tbody id="installed2">
            </tbody>
        </table>
        
    </div>
    <label id="allsupp"><input type="checkbox" onclick="suppcocher(this.checked)"></label>
    <label class="boutonsupp"><span class="icon">&#8854;</span>Supprimer</label>

    </div>
    <div id="add"><div class="addicon">&#59392;</div><span class="texticon">Logiciels Disponibles</span>
    <div id="logiciels">
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Noms</th>
                    <th>Téléchargé</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td id="nomlogiciel{{ loop.index }}" title="{{ package.desc }}"  class="nomlogiciel"><label><input type="checkbox"  disabled id="{{ package.shortname }}" ><span> {{ package.shortname }}</span></label><state id="nomlogiciel20{{ loop.index }}"></state><a href="#editor"><input type="button" class="boutonedit" id="Btn{{ package.shortname }}" name="/home/wpkg/packages/{{ package.shortname }}.xml" value="XML"></a></td>

                    <td class="down"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <label id="addall"><input type="checkbox" onclick="addcocher(this.checked)"></label>
    <label class="boutonadd"><span class="icon">&oplus;</span>Ajouter</label>
    </div>

    <div id="vuediteur" title="Afficher / Masquer l'éditeur XML">
        <a href="#editor"><label id="radioedit">Afficher éditeur</label></a>
        <label id="radioedit2">Masquer éditeur</label>
    </div>
    
    <div id="editeur">
        <div id="dossier" name =""><input type="text" id="inputxml" value="" placeholder="fichier">.xml</div>
        <div id="editor" name="editor" >






        --> Editeur XML : cliquez sur le bouton " XML " correspondant au logiciel que vous voulez modifier</div>
        <label id="dl"><span class="icon">&#59256;</span>Télécharger sur le serveur</label>
        <label id="newxml"><span class="icon">&#8862;</span>Nouveau XML</label>
        <input id="save" class="boutonsave"  type="submit" value="Enregistrer">
        
    </div>
    <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/xml");
    </script>
    <script type="text/javascript">
            var oui = document.getElementById("radioedit");
            var non = document.getElementById("radioedit2");
            var editeur = document.getElementById("editeur");
            oui.onclick = function() {
                oui.style.display = "none";
                editeur.style.display = "block";
                non.style.display = "block";
            };
            non.onclick = function() {
                non.style.display = "none";
                editeur.style.display = "none";
                oui.style.display = "block";
            };
            </script>

</div>

{% endblock %}
