<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Scribe-WPKG</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tipsy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apprise-v2.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/mainjava.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tipsy.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/notify.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/apprise-v2.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="container">
    <div id="footer"><a href="http://www.ac-nantes.fr/09264072/0/fiche___pagelibre/">&copy; 2013 CRID 72</a></div>
        <h1 class="logo">Scribe-WPKG</h1>
        <nav>
          <ul class="howto">
            <li>1) Sélectioner un groupe</li>
            <li>2) Cocher le(s) logiciel(s)</li>
            <li>3) Ajouter / Supprimer</li>
          </ul>
          <ul class="menu">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
              {% endif %}
              {% endwith %}
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
          </ul>
        </nav>
      </div>
    </header> 
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>