<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Flask App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;
    <script language="Javascript">
// ==================
//  Activations - Désactivations
// ==================
function GereControle(Controleur, Controle, Masquer) {
var objControleur = document.getElementById(Controleur);
var objControle = document.getElementById(Controle);

  if (Masquer=='1')
    objControle.style.visibility=(objControleur.checked==true)?'visible':'hidden';
  else
    objControle.disabled=(objControleur.checked==true)?false:true;
  return true;
}
</script>

  </head>
  <body onLoad='xml()'>
  
    <header>
      <div class="container">
        <h1 class="logo">Scribe-WPKG</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
          </ul>
        </nav>
      </div>
    </header> 
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>