<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;   
  </head>
  <body>
  
    <header>
      <div class="container">
        <h1 class="logo">Scribe-WPKG</h1>
        <strong><nav>
          <ul class="loginform">
            <li> Login :<input type="text" name="username" size="15" /></li>
            <li> Mot de passe: <input type="password" name="passwort" size="15" /></li>
            <li><input type="submit" value="Connexion"></li>
          </ul>
    </nav></strong>
      </div>
    </header> 
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>