<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Scribe-WPKG</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>


<script>
$(document).ready(function(){
  {% for shortname in packs %}
    $("#{{ shortname }}").change(function(){

if (document.getElementById('{{ shortname }}').checked == true)
        {
        document.getElementById('nomlogiciel{{ packs.index(shortname) }}').style.backgroundColor='rgb(114, 182, 114)';
        }
else
        {
        document.getElementById('nomlogiciel{{ packs.index(shortname) }}').style.backgroundColor='#FFF';
        }
});
    {% endfor %}
});
</script>


<script language="Javascript">
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
);
jQuery.ajaxSettings.traditional = true;
  $(document).ready(function(){
    $("input#save").click(function(){
      $("#loader").css('visibility','visible');
      $.getJSON($SCRIPT_ROOT + '/_savefile', {
      code: editor.getValue(),
      path: $("#dossier").text()
      }, function(data){
        $("#loader").css('visibility','hidden');
        alert('Texte enregistré');
      });
    });
  });
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
jQuery.ajaxSettings.traditional = true;
  $(document).ready(function(){
    $("select").change(function(){
      $.getJSON($SCRIPT_ROOT + '/_getprofiles', {
      lgrp: $("select#Listegrp").val()
      }, function(data){
        var soft = data.profile;
        var cases = $("#logiciels").find(':checkbox');
        cases.attr('checked', false);
        for(var i= 0; i < soft.length; i++)
        {
          val = soft[i];
          $('#'+val).attr('checked', true);

        };
      });
    });
  });


</script>
<script type="text/javascript">
{% for i in pack %}
$(document).ready(function(){
    $("input#{{pack.index(i)}}").click(function(){
      $.getJSON($SCRIPT_ROOT + '/_getxml', {
      xml: $("input#{{ pack.index(i) }}").attr("name")
      }, function(data){
        var code = data.xml;
        editor.setValue(code);
        editor.gotoLine(1);
        $("#dossier").html('{{ i }}');
      });
    });
  });
{% endfor %}
</script>


  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Scribe-WPKG</h1>
        <nav>
          <ul class="menu">
              {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  {% endif %}
{% endwith %}
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
            <li><a href="{{ url_for('test') }}">Test</a></li>
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
          </ul>
        </nav>
      </div>
    </header> 
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>