{% extends "layout.html" %}
{% block content %}

<div class="jumbo">
    <div id="block"></div>
    <div id="add">
    <div id="logiciels">
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Nom logiciel</th>
                </tr>
            </thead>
            <tbody>
                {% for shortname in packs %}
                <tr>
                    <td id="nomlogiciel{{ packs.index(shortname) }}" class="nomlogiciel"><label>&nbsp;&nbsp;{{ shortname }}</label><input type="button" class="boutonedit" id="{{ packs.index(shortname) }}" name="packages/{{ shortname }}.xml" value="XML" ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <label class="boutonadd">Ajouter</label>
    </div>

    <div id="vuediteur">
        <label id="radioedit">Afficher éditeur</label>
        <label id="radioedit2">Masquer éditeur</label>
    </div>
    <div id="supp">
        <div id="installed">
        <table id="myTable2" class="tablesorter">
            <thead>
                <tr>
                    <th>Logiciels installés</th>
                </tr> 
            </thead>
            <tbody id="installed2">
            </tbody>
        </table>
        
    </div>
    <label class="boutonsupp">Supprimer</label>
    </div>

    <select multiple="multiple" size="25" id="Listegrp">
        {% for grp in grps %}
        <option value="{{ grp }}" name="{{ grp }}">{{ grp }}</option>
        {% endfor %}
    </select>
    
    <div id="editeur">
        <div id="dossier"></div>
        <div id="editor" name="editor" >--> Editeur XML : cliquez sur le bouton " Editer " correspondant au logiciel que vous voulez modifier</div>
        <input id="save" class="boutonsave"  type="submit" value="Enregistrer">
    </div>

    <div id="loader"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></div>


    <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/xml");
    </script>
    <script type="text/javascript">
            var oui = document.getElementById("radioedit");
            var non = document.getElementById("radioedit2");
            oui.onclick = function() {
                oui.style.display = "none";
                document.getElementById("editeur").style.display = "block";
                non.style.display = "block";
            };
            non.onclick = function() {
                non.style.display = "none";
                document.getElementById("editeur").style.display = "none";
                oui.style.display = "block";
            };
            </script>
</div>

{% endblock %}
