{% extends "layout.html" %}
{% block content %}

<div class="jumbo">

<select multiple="multiple" size="25" id="Listegrp">
        {% for grp in grps %}
        <option value="{{ grp }}" name="{{ grp }}">{{ grp }}</option>
        {% endfor %}
</select>

<div id="logiciels">
    {% for shortname in packs %}
    <label><input type="checkbox" >{{ shortname }}</label><br>
    {% endfor %}
</div>
<input type='checkbox' id='cocheTout'/>
<span id='cocheText'>Cocher tout</span>

<div id="contenu">
    {% for i in pack %}
    <a href="{{ url_for('editor') }}">{{ i }}</a><br>
    {% endfor %}
</div>

</div>

{% endblock %}