{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
<select multiple="multiple" size="25" id="ListeElement">
        {% for grp in grps %}
        <option value="">{{ grp }}</option>
        {% endfor %}
</select>
<div style="height:401px;display:inline-block;overflow:auto">
        {% for shortname in packs %}
        <input type="checkbox">{{ shortname }}<br>
        {% endfor %}
</div>
<div id="editor">{{ ficxml }}

</div>
    
<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/xml");
</script>
</div>


{% endblock %}